{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  {% if '/edit/' in request.path %}
    Изменение заказа
  {% elif "/delete/" in request.path %}
    Удаление заказа
  {% else %}
    Создание заказа
  {% endif %}
{% endblock %}

{% block content %}
<div class="col d-flex justify-content-center">
  <div class="card" style="width: 40rem;">
    <div class="card-header text-center">
      <h1>
        Создание заказа
      </h1>
    </div>
    <div class="card-body" >
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Создать заказ" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
